* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 24px;
}

footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

nav {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: center;
}

nav a {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 32px;
    margin-left: 8px;
    margin-right: 8px;
    color: #FFC300 
}

p {
    font-family: 'Lucida Fax', serif;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #424242;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
    color: #581845;
}

h2 {
    font-size: 32px;
    font-family: 'Lucida Handwriting', cursive;
    color: #581845;
    text-align: center;
}

ul,
ol {
    font-size: 16px;
    margin-left: 32px;
    font-family: 'Lucida fax', serif;
    color: #424242;
}

img {
    border-radius: 0.25em;
    width: 100%;
}

iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

a {
    color: #FFC300;
    text-decoration: none;
}

a:hover {
    color: #581845;
}

#homepage {
    column-count: 2;
    column-gap: 24px;
}

#photo-grid {
    margin-top: 16px;
    column-count: 3;
    column-gap: 16px;
}

#photo-grid img {
    margin-top: 24px;
}

.profile {
    float: left;
    margin-right: 18px;
    width: 180px;
    border-radius: 120% ;
    border: 3px solid #581845;
}
